.form-control
{
    width: 300px;
    display: inline-block;
}

form .btn
{
    margin-top: -4px;
    display: inline-block;
}

#content #left-nav
{
    width: 15%;
    margin-right: 25px;
}

#content #main
{
    width: calc(85% - 25px);
}

.booked
{
    display: inline-block;
    margin: -8px;
    padding: 8px 15px;
    background-color: #FFD967;
    color: #E56717;
    font-weight: bold;
}

.icon { margin: 0px 5px; }

#group_list .panel-heading { background-color: #B8E2EF; }
#group_list .panel-body { padding: 0px; }
#group_list .panel-body table { margin: 0px; }

.small_title
{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
    color: #5f5f5f;
}