.form-control
{
    width: 300px;
    display: inline-block;
}

form .btn
{
    margin-top: -4px;
    display: inline-block;
}

#content #left-nav
{
    width: 12%;
    margin-right: 25px;
}

#content #main
{
    width: calc(88% - 25px);
}